<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Blog</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<!--Using Thymeleaf to replace this div with the header file content -->
<div th:replace="header :: header"></div>
<body>
<p th:text="'Vous souhaitez obtenir la météo du : ' + ${nomTemplate} + ' ?!'" />
<p th:text="'longitude = '+${longitude}" />
<p th:text="'latitude = '+${latitude}" />

<h3 th:text=" 'Prévisions météo pour : ' + ${forecast.getCity().getName()}"/>

<p th:text="'Température Max = '+${forecast.forecast.tmax}" />
<p th:text="'Température Min = '+${forecast.forecast.tmin}" />
<p th:text="'Probabilité de pluie = '+${forecast.forecast.probarain}" />

</body>
</html>